<!doctype html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bookmarks</title>

    <link rel="stylesheet" href="/assets/style/style.min.css">

</head>
<body>
<noscript>
    <div class="noscriptmsg">
        Javascript not enabled.
    </div>
</noscript>
<header class="container">
    <div style="float: right; font-size: 1.2em; margin-top: 1em">
        <a title="Sign out" class="box action-button" href="/logout">
            Logout <span style="font-size: 1.4em" class="icon-logout"></span>
        </a>
    </div>
    <h1>Bookmark Manager</h1>
    <h4 class="sub-header">Wecodeinourunderpants - <span class="hinted-sub-header">
        cse 136 with Professor Thomas Powell</span></h4>
</header>

<bm-app id="app-content" class="container" style="height: 64em;">
    <div class="row">
        <div class="col-md-4">
            <div id="bookmark-explorer">
                <div id="bookmark-actions">
                    <div class="action-button-group">
                        <a title="Create bookmark" class="box action-button" href="/bookmarks/create">
                            <span class="icon-plus-squared"></span>
                        </a>
                        <a title="Create folder" class="box action-button" href="/bookmarks/createfolder">
                            <span class="icon-folder-open"></span>
                        </a>
                        <a title="Import bookmarks" class="box action-button" href="/bookmarks/upload-dialog">
                            <span class="icon-upload-cloud"></span>
                        </a>
                        <a title="Export bookmarks" class="box action-button" href="/bookmarks/download" target="_blank">
                            <span class="icon-download-cloud"></span>
                        </a>
                    </div>
                    <div class="row">
                        <div class="search-bar col-xs-8">
                            <form method="post" action="bookmarks/search">
                                <input type="search" name="keywords" placeholder="Search">
                                <i class="icon-search" aria-hidden="true" title="Search"></i>
                            </form>
                        </div>
                        <div class="sort-dropdown col-xs-4" >
                            <form method="post" action="bookmarks/sort">
                                <select name="options">
                                    <option value="url"{{#if sortedByURL}} selected{{/if}}>URL</option>
                                    <option value="name"{{#if sortedByName}} selected{{/if}}>Name</option>
                                    <option value="createdAt"{{#if sortedByCreated}} selected{{/if}}>Created</option>
                                    <option value="description"{{#if sortedByDescription}} selected{{/if}}>Description</option>
                                    <option value="keywords"{{#if sortedByKeywords}} selected{{/if}}>Keywords</option>
                                    <option value="favorite"{{#if sortedByFavorite}} selected{{/if}}>Favorite</option>
                                </select>
                                <input type="submit" value="Sort By" id="smallbutton">
                            </form>
                            <!--<i class="icon-down-open" aria-hidden="true"></i>-->
                        </div>
                    </div>
                </div>

                <div style="background-color: #A2AEBB"></div>

                <hr>
                <div>
                    <ul id="bookmark-list">
                        {{> bookmarks/back }}
                        {{> bookmarks/bookmarks }}
                    </ul>
                </div>
            </div>


        </div>
        <div id="bookmark-dialog" class="col-md-8">
            <!-- Your dialogs will get appended here -->
            {{#if showCreateFolderDialog }}
                {{> bookmarks/create-folder-dialog }}
            {{/if}}

            {{#if error}}
                {{> bm-error-dialog}}
            {{/if}}

            {{#if showCreateDialog }}
                {{> bookmarks/create-bookmark-dialog }}
            {{/if}}

            {{#if showEditDialog }}
                {{> bookmarks/edit-bookmark }}
            {{/if}}

            {{#if showUploadDialog }}
                {{> bookmarks/upload-file }}
            {{/if}}

            
            {{#if showConfirmDeleteDialog }}
                {{> bookmarks/confirm-delete }}
            {{/if}}

            {{#if showEditFolderDialog }}
                {{> bookmarks/edit-folder-dialog }}
            {{/if}}


        </div>

    </div>
</bm-app>

<script>
    (function () {
        /* Custom element for uploader */
        var tags = ['bm-app', 'bm-upload-file-dialog', 'bm-dialog-close', 'bm-dialog-close',
                    'bm-dialog-body', 'bm-create-dialog', 'bm-edit-dialog', 'bm-create-folder-dialog',
                    'bm-error-dialog', 'bm-confirm-delete'
        ];

        for(var i = 0; i < tags.length; ++i) {
            document.createElement(tags[i]);
        }
    })(window);
</script>

</body>
</html>