<bm-upload-file-dialog class="dialog" style="height: inherit; width: 80%;">
    <div class="dialog-header">
        <div class="dialog-title">Upload</div>
        <bm-dialog-close><a class="action-button" href="/bookmarks"><span class="icon-cancel"></span></a></bm-dialog-close>
    </div>
    <bm-dialog-body class="">
        <div class="">
            <form action="/bookmarks/upload"
                  enctype="multipart/form-data"
                  method="post">
                <div class="text-center">
                    <span class="icon-upload-cloud-1"></span>
                    <section class="press">
                        <input type="file" class="button file-upload file-input" name="csvFile">
                        <button type="submit" class="file-input" name="action">Send</button>
                    </section>
                    <!--<input id="uploadFile" type="file" class="upload" name="csvFile"/>-->
                    <!--&lt;!&ndash;<p><span class="dz-message">Drop files here to upload</span></p>&ndash;&gt;-->
                </div>
            </form>
        </div>
    </bm-dialog-body>
</bm-upload-file-dialog>