<form class="dialog-form" method="post" action="/register">
    <div class="col-xs-12">
        <h2 class="form-header">Register</h2>
        <div class="row">
            <div class="col-xs-12">
                <label for="name">Username</label>
                <input name="username" type="text"
                       class="dialog-input" placeholder="Username">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label for="password">Password</label>
                <input name="password" type="password"
                       class="dialog-input" placeholder="Password">
            </div>
        </div>
        <div class="row button-row">
            <section class="press">
                <a class="button" href="/login">Cancel</a>
            </section>
            <section id="login-section" class="press">
                <button id="loginBtn" type="submit">Register</button>
            </section>
        </div>
    </div>
</form>
