<bm-error-dialog class="dialog">
    <div class="dialog-header">
        <div class="dialog-title"><span class="icon-attention"></span>&nbsp;{{name}} {{code}}</div>
        <bm-dialog-close><a href="/bookmarks"><span class="icon-cancel"></span></a></bm-dialog-close>
        </bm-dialog-close>
    </div>
    <bm-dialog-body>
        <div class="row error-content">
            {{message}}
        </div>
        <div class="row">
            <section class="press">
                <a href="/bookmarks" class="button">OK</a>
            </section>
        </div>
    </bm-dialog-body>
</bm-error-dialog>