<li class="list-item-style">
    <div class="bookmark-item">
        <span class="fa fa-chevron-circle-left left-item folder-icon hand"
              onclick="app.bookmarkExplorer.showBookmarks('{{parent}}')">
        </span>
        <a class="bookmark-link hand" onclick="app.bookmarkExplorer.showBookmarks('{{parent}}')"> &nbsp; BACK</a>
    </div>
</li>
